.login-section {
  padding-top: 14.9rem;
  margin-bottom: 5.9rem;
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.2rem;
  }
  // Image Side
  .hero-container {
    height: 100%;
    position: relative;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 1.6rem;
    }
    p {
      width: 100%;
      max-width: 61.9rem;
      position: absolute;
      bottom: 3.2rem;
      left: 3.2rem;

      font-family: "SF Medium";
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 3.8rem;
      color: #fff;
    }
  }

  // Form Side
  .form-container {
    @include flex(column, start, center);
    background-color: $white;
    border-radius: 1.6rem;
    place-items: center;
    padding: 4.8rem 2.4rem;
    text-align: center;
    .orkut-logo-i {
      margin-bottom: 1.6rem;
    }
    h1 {
      font-family: "SF Regular";
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: $pink;
      margin-bottom: 4rem;
    }
    form {
      .data-input {
        width: 100%;
        background-color: #eff3f8;
        padding: 1.6rem;
        margin-bottom: 2.4rem;
        border-radius: 0.8rem;
        color: #4b4b4b;
      }
    }
    .remind-password-container {
      @include flex(row, start, center);
      gap: 1.5rem;
      margin-bottom: 4rem;

      input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        margin: 0;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:before {
          content: "";
          border-radius: 0.6rem;
          width: 2rem;
          height: 2rem;
          display: inline-block;
          border: 2px solid #dcdcdc;
          position: relative;
          top: 0;
          left: 0;
        }

        &:checked {
          background-color: $pink;
          border-radius: 0.6rem;
        }
      }
    }

    a {
      color: $pink;
      font-family: "SF Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-decoration: underline;
    }
  }

  @include responsive(1000px) {
    padding-top: 5.9rem;

    .container {
      grid-template-columns: 1fr;
    }
    .hero-container {
      display: none;
    }
    .form-container {
      form {
        width: 100%;
        max-width: 50rem;
      }
    }
  }
}

footer {
  background-color: $white;
  padding: 1.2rem;
  .container {
    @include flex(row, center, center);
  }
  p,
  a {
    color: $pink;
  }
  a {
    font-weight: 600;
  }
}
