@font-face {
  font-family: "SF Regular";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}
@font-face {
  font-family: "SF Medium";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
}
@font-face {
  font-family: "SF Black Italic";
  src: url("../fonts/SFPRODISPLAYBLACKITALIC.OTF") format("truetype");
}
@font-face {
  font-family: "SF Bold";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
}
