main {
  margin-top: 8rem;
  margin-bottom: 4.4rem;
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.2rem;
  }

  input[type="search"] {
    display: none;
  }

  .profile-pic {
    height: 100%;
    width: 100%;
    &__container {
      @include flex(column, center, center);
      padding: 2.4rem 4.8rem;
      margin-bottom: 3.2rem;
      background-color: #fff;
      border-radius: 1.6rem;
      img {
        border-radius: 50%;
        border: 0.7rem solid rgba(0, 0, 0, 0);
        outline: 0.5rem solid $pink;
      }

      h1,
      span {
        color: #4b4b4b;
        line-height: 2.4rem;
        text-align: center;
      }
      h1 {
        font-family: "SF Medium";
        margin: 2.2rem 0;
        font-size: 2.4rem;
      }
      span {
        font-family: "SF Regular";
        font-size: 1.8rem;
      }
    }
    button {
      width: 100%;
      padding: 1.6rem 1rem;
      background-color: #fff;
      border-radius: 1.6rem;
      a {
        color: $pink;
      }
    }
  }

  .profile-info {
    grid-column: 2;
    grid-row: 1 / 3;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    .container {
      @include flex(column, start, start);
    }

    h2 {
      font-family: "SF Medium";
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 3.1rem;
      color: #4b4b4b;
      margin-bottom: 2.5rem;
    }
    .phrase {
      background-color: #eff3f8;
      padding: 1.2rem;
      border-radius: 1rem;
      margin-bottom: 3.2rem;
      position: relative;

      p {
        color: $dark-light;
        font-family: "SF Regular";
        font-size: 1.6rem;
      }
      &::before {
        content: "";
        background: url("../img/triangle-before.svg") no-repeat;
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        position: absolute;
        top: -1.1rem;
        left: 2.1rem;
      }
    }

    .profile-categories {
      @include flex(row, start, start);
      gap: 3.5rem;
      margin-bottom: 3.2rem;
      li {
        @include flex(column, start, start);
        .icons {
          @include flex(row, center, start);
          gap: 0.6rem;
        }
      }
    }

    .profile-about {
      @include flex(column, start, start);
      gap: 2.4rem;
      padding: 0;
      li {
        @include flex(row, start, start);
        gap: 1.2rem;
      }
    }
  }

  // Rapports
  .rapports__friends {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    align-self: center;

    &__info {
      @include flex(row, space-between, center);
      margin-bottom: 3.2rem;

      span,
      a {
        font-family: "SF Medium";
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      span {
        color: #4b4b4b;
      }
      a {
        color: $pink;
      }
    }
    ul {
      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 3.2rem;
      width: 100%;
      li {
        @include flex(column, center, center);

        img {
          max-width: 5rem;
          margin-bottom: 0.8rem;
        }
        h3 {
          font-family: "SF Regular";
          font-size: 1.2rem;
          line-height: 1.7rem;
          color: #4b4b4b;
        }
      }
    }
    img {
      display: inline-block;
    }
  }
  .rapports__communities {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 1.6rem;
    align-self: center;
    grid-column: 3;
    grid-row: 2;

    &__info {
      @include flex(row, space-between, center);
      margin-bottom: 3.2rem;

      span,
      a {
        font-family: "SF Medium";
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      span {
        color: #4b4b4b;
      }
      a {
        color: $pink;
      }
    }
    ul {
      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 3.2rem;
      width: 100%;
      li {
        @include flex(column, center, center);

        img {
          max-width: 5rem;
          margin-bottom: 0.8rem;
        }
        h3 {
          font-family: "SF Regular";
          font-size: 1.2rem;
          line-height: 1.7rem;
          color: #4b4b4b;
        }
      }
    }
    img {
      display: inline-block;
    }
  }

  // Profile Tags
  .profile-tags {
    @include flex(column, start, start);
    gap: 2.3rem;
    flex-wrap: wrap;
    li {
      @include flex(row, start, center);
      gap: 1.6rem;
      flex-wrap: wrap;

      a {
        padding: 0.5rem 1.5rem;
        background-color: transparent;
        border: 1px solid $pink;
        border-radius: 100rem;
        color: $dark-light;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: $pink;
          color: #fff;
        }
      }

      .see-more {
        background-color: transparent;
        border: none;
        color: $pink;
        font-family: "SF Medium";
      }
    }
  }

  @include responsive(1100px) {
    margin-top: 4rem;

    .container {
      display: flex;
      flex-direction: column;
    }

    input[type="search"] {
      display: block;
      width: 100%;
      padding: 1rem 0;
      padding-left: 4rem;
      padding-right: 1rem;
      border-radius: 0.8rem;
      background: url("../img/search-icon.svg") no-repeat;
      background-color: #fff;
      background-position: 1rem 1rem;
    }

    .profile-info {
      .profile-tags {
        li {
          gap: 0.5rem;
          a {
            flex-grow: 2;
            text-align: center;
          }
        }
      }
    }
  }
  @include responsive(500px) {
    .profile-info {
      .profile-about {
        li {
          flex-wrap: wrap;
        }
      }
    }
  }
}
